@font-face { font-family: outfit; src: url('Outfit-VariableFont_wght.ttf'); } 

body {
    background-color: hsl(216, 50%, 16%);
    font-family: outfit;
}


.centercard {
    width: 100%;
    height: 100vh;
    /* Centraliza o card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.card {
    background-color: hsl(215, 32%, 27%);
    
    width: 350px;
    min-width: 350px;
    max-width: 18vw;
    height: 650px;
    
    /* centraliza os elementos do card */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 20px 20px hsl(217, 54%, 11%) ;

}

.image-equilibrium {
    width: 90%;
    height: 57%;
    border-radius: 15px;
    margin-top: 6%;

    /* a imagem não distorce */
    object-fit: cover;

}

.text-card{
    width: 90%;
}
/* Weights: 300, 400, 600 */
.titulo-card{
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    font-weight: 600;
}

.subtitulo-card{
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 300;
}

/* Codigo para deixar itens um do lado do outro (em linha) */
.info-nft {
    display: flex;
    justify-content: space-between;
}

.price-card {
    color:hsl(178, 100%, 50%);
    font-size: 18px;
    font-weight: 600;
}

.days-card{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}


.creator-card{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.row {
    display:flex;
    align-items: center;
}

.avatar {
    width: 12%;
    height: 12%;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    margin-right: 20px;
}

.creator-name {
    color: hsl(0, 0%, 100%);
}

.line {
    height: 1px;
    background-color: hsl(215, 51%, 70%);
}